{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Covid-19 DatosLab</h1>
  <p class="lead">Esta web porpocriona una herramienta mediante la cual la Autoridad Sanitaria aísla a una determinada población con alta concentración de casos positivos de COVID-19, de modo de reducir la posibilidad de contacto con población sin contagio, a la que puedan transmitir el coronavirus.</p>
  <hr class="my-4">
  <p>Accede a nuestra herramienta mediante el siguiente enlace</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Herramienta</a>
</div>

{% endblock%}
